<div id="playerModal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-xl bg-dark text-white">
    <div class="modal-content bg-dark" >
        <div class="modal-body bg-dark">
            {% load static %}
            {% include 'macros/playerInfoCard.html' with player=player %}
            <div class="row p-1">
                <div class="col-12">
                    {% if career_batting_stats %}
                    <h5 class="text-center light-caps">Batting Statistics</h5>
                    {% include 'macros/playerBattingStatsTable.html' with stats=batting_stats career_stats=career_batting_stats %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if career_pitching_stats %}
                    <h5 class="text-center light-caps">Pitching Statistics</h5>
                    {% include 'macros/playerPitchingStatsTable.html' with stats=pitching_stats career_stats=career_pitching_stats %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>