{% load static %}
<link rel="stylesheet" type="text/css" href="" xmlns="http://www.w3.org/1999/html">
<div class="row player-row" style="background:linear-gradient(to top, rgba(0,0,0,0) 20%, {{ player.team.primary_color }})">
    <div class="col-3 position-relative">
        <div class="img-container">
            <img src="{% static 'img/headshots/' %}{{ player.id }}.png"
                 onerror="this.src='{% static 'img/' %}default.png'"
                 class="img-fluid player-img"
            >
            <img class="team-logo"
                 src="{% static 'img/MLB/' %}{{ player.team.id }}.png"
            >
        </div>
    </div>
    <div class="col-4 d-flex align-items-center">
        <div class="playerInformation">
            <h4>{{ player.name_use }}</h4>
            <h1>{{ player.name_last }}</h1>
            <h6>{% if player.primary_position %}<span class="badge bg-light text-dark">{{ player.get_primary_position }}{% if player.secondary_position %}/{{ player.get_secondary_position }}{% endif %}</span>{% endif %} {{ player.team.full_name }}</h6>
            <small>
                Height: {{ player.height_feet }}' {% if player.height_inches %}{{ player.height_inches }}"{% endif %} • Weight: {{ player.weight }} • Age: {{ player.get_age }} </br>
                Bats: {{ player.bats_long }} • Throws: {{ player.throws_long }}
            </small>
        </div>
    </div>
    <div class="col-5 d-flex justify-content-center align-items-center">
        {% if player.primary_position == '1' %}
            {% if current_pitching_stats.year != 2024 %}
            {% include 'macros/currentStatsCard.html' with player=player stats=career_pitching_stats %}
            {% else %}
            {% include 'macros/currentStatsCard.html' with player=player stats=current_pitching_stats %}
            {% endif %}
        {% else %}
            {% if current_batting_stats.year != 2024 %}
            {% include 'macros/currentStatsCard.html' with player=player stats=career_batting_stats %}
            {% else %}
            {% include 'macros/currentStatsCard.html' with player=player stats=current_batting_stats %}
            {% endif %}
        {% endif %}
    </div>
</div>