{% load static %}
<table class="table table-sm table-dark text-center">
    <thead>
    <tr>
        <th>Season</th>
        <th>Team</th>
        <th>GP</th>
        <th>AB</th>
        <th>R</th>
        <th>H</th>
        <th>2B</th>
        <th>3B</th>
        <th>HR</th>
        <th>BB</th>
        <th>SO</th>
        <th>AVG</th>
        <th>SLG</th>
        <th>BABIP</th>
    </tr>
    </thead>
    <tbody>
        {% for entry in stats %}
        {% if entry.year in aggregated_years and entry.team != 'OVR' %}

        {% else %}
        <tr>
            <td>{{ entry.year }}</td>
            {% if entry.teams > 1 %}
            <td><img src="{% static 'img/MLB/' %}mlb.png" height="20px"> {{ entry.teams }} Teams</td>
            {% else %}
            <td><img src="{% static 'img/MLB/' %}{{entry.team}}.png" height="20px"> {{ entry.team }}</td>
            {% endif %}
            <td>{{ entry.games }}</td>
            <td>{{ entry.at_bats }}</td>
            <td>{{ entry.runs }}</td>
            <td>{{ entry.hits }}</td>
            <td>{{ entry.doubles }}</td>
            <td>{{ entry.triples }}</td>
            <td>{{ entry.home_runs }}</td>
            <td>{{ entry.bases_on_balls }}</td>
            <td>{{ entry.strikeouts }}</td>
            <td>{{ entry.batting_average }}</td>
            <td>{{ entry.slugging_percentage }}</td>
            <td>{{ entry.batting_balls_in_play }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="2">Career Totals</th>
        <th>{{ career_stats.games }}</th>
        <th>{{ career_stats.at_bats }}</th>
        <th>{{ career_stats.runs }}</th>
        <th>{{ career_stats.hits }}</th>
        <th>{{ career_stats.doubles }}</th>
        <th>{{ career_stats.triples }}</th>
        <th>{{ career_stats.home_runs }}</th>
        <th>{{ career_stats.bases_on_balls }}</th>
        <th>{{ career_stats.strikeouts }}</th>
        <th>{{ career_stats.batting_average }}</th>
        <th>{{ career_stats.slugging_percentage }}</th>
        <th>{{ career_stats.batting_balls_in_play }}</th>
    </tr>
    </tfoot>
</table>