{% load static %}
<table class="table table-sm table-dark text-center">
    <thead>
    <tr>
        <th>Season</th>
        <th>Team</th>
        <th>GP</th>
        <th>GS</th>
        <th>W</th>
        <th>L</th>
        <th>IP</th>
        <th>K</th>
        <th>BB</th>
        <th>H</th>
        <th>SV</th>
        <th>AVG</th>
        <th>WHIP</th>
        <th>WPCT</th>
        <th>K/9</th>
        <th>BB/9</th>
    </tr>
    </thead>
    <tbody>
        {% for entry in stats %}
        <tr>
            <td>{{ entry.year }}</td>
            {% if entry.team == 'OVR' %}
            <td><img src="{% static 'img/MLB/' %}mlb.png" height="20px">Teams</td>
            {% else %}
            <td><img src="{% static 'img/MLB/' %}{{entry.team}}.png" height="20px"> {{ entry.team }}</td>
            {% endif %}
            <td>{{ entry.games }}</td>
            <td>{{ entry.games_started }}</td>
            <td>{{ entry.wins }}</td>
            <td>{{ entry.losses }}</td>
            <td>{{ entry.innings_pitched|floatformat:1 }}</td>
            <td>{{ entry.strikeouts }}</td>
            <td>{{ entry.bases_on_balls }}</td>
            <td>{{ entry.hits}}</td>
            <td>{{ entry.saves }}</td>
            <td>{{ entry.batting_average }}</td>
            <td>{{ entry.whip }}</td>
            <td>{{ entry.win_percentage }}</td>
            <td>{{ entry.k9 }}</td>
            <td>{{ entry.bb9 }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="2">Career Totals</th>
        <th>{{ career_stats.games }}</th>
        <th>{{ career_stats.games_started }}</th>
        <th>{{ career_stats.wins }}</th>
        <th>{{ career_stats.losses }}</th>
        <th>{{ career_stats.innings_pitched|floatformat:1 }}</th>
        <th>{{ career_stats.strikeouts }}</th>
        <th>{{ career_stats.bases_on_balls }}</th>
        <th>{{ career_stats.hits }}</th>
        <th>{{ career_stats.saves }}</th>
    </tr>
    </tfoot>
</table>