.player-row {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.pr-col-3.position-relative {
    position: relative;
}

.player-img {
    z-index: 2;
    position: relative;
}

.team-logo {
    position: absolute;
    top: 10%;
    left: 65%;
    z-index: 0;
    width: auto;
    height: 100px;
}

.modal-dialog {
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #222;
    border: none;
}

.modal-body {
    padding: 40px;
}

.modal-footer {
    border-top: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn.active {
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.btn.active:hover {
    transform: translateY(-3px);
}

.playerInformation h4 {
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 0;
    font-style: italic;
}

.playerInformation h1 {
    text-transform: uppercase;
    margin-top: 0;
    font-style: italic;
}

.playerInformation h6 {
    font-weight: 200;
    margin-bottom: 0;
}

.playerInformation small {
    font-weight: 200;
    margin-top: 0;
}

.light-caps{
    font-weight: 200;
    text-transform: uppercase;
    font-style: italic;
}

.caps {
    text-transform: uppercase;
    font-style: italic;
}